[paths]
source =
   src
   */site-packages

[run]
branch = true
source =
    pipeline_telemetry
parallel = true
omit =
    src/pipeline_telemetry/__main__.py
    src/pipeline_telemetry/cli.py

[report]
show_missing = true
precision = 0
omit =
    *migrations*
    src/pipeline_telemetry/__main__.py
    src/pipeline_telemetry/cli.py

