graft docs
graft src
graft ci
graft tests

include .isort.cfg
include .bumpversion.cfg
include .cookiecutterrc
include .coveragerc
include .editorconfig

include .appveyor.yml
include .readthedocs.yml
include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

global-exclude *.py[cod] __pycache__/* *.so *. .DS_Store
